
#room_iframe{
    border: 0; 
    position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    width:100%; 
    height:100%;
    min-width: 1024px;
    min-height: 800px;
}


.sidebar{
    position:absolute;
    left: -10%;
    right: 90%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 1);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.topbar{
    position: absolute;
    width: 1730px;
    height: 77px;
    left:195px;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

#search-bar{
    position: absolute;
    width: 330.08px;
    height: 34.23px;
    left: 50px;
    top: 23px;

    background: #E8E8E8;
    opacity: 0.5;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    border-radius: 8px;
    
    
}

#text{
    border:none;
    position:absolute;
    width:75%;
    top:7px;
    left:40px;
    background-color: #E8E8E8;
}

#search{
    position:absolute;
    left:0px;
}


.MainContent{
    position:absolute;
    left:500px;
    top:150px;
}


#circle1{
    position:absolute;
    width:10px;
    height:10px;
    background-color:rgb(143, 143, 143);
    top:250px;
    left:370px;
    border-radius:50%;
}

#circle1:hover{
    background-color: black;
}

#circle2{
    position:absolute;
    width:10px;
    height:10px;
    background-color:rgb(143, 143, 143);
    top:250px;
    left:400px;
    border-radius:50%;
}

#circle2:hover{
    background-color: black;
}

#circle3{
    position:absolute;
    width:10px;
    height:10px;
    background-color:rgb(143, 143, 143);
    top:250px;
    left:430px;
    border-radius:50%;
}
#circle3:hover{
    background-color: black;
}


#cameraicon{
    position: absolute;
    width: 34px;
    height: 34px;
    left: 1106px;
    top: 23px;

    background: #C4C4C4;
    opacity: 0.8;
    border-radius: 8px;
}

#cameraicon:hover{
    
    opacity: 1;
    cursor: pointer;
    
    
}

#icon1{
    position:absolute;
    left:7.5px;
    
    top:10px;
}

#circle4{
    position:absolute;
    width:5px;
    height:5px;
    background-color:rgb(0, 0, 0);
    top:15px;
    left:14px;
    border-radius:50%;
}

#messageicon{
    position: absolute;
    width: 34px;
    height: 34px;
    left: 1156px;
    top: 23px;

    background: #C4C4C4;
    opacity: 0.8;
    border-radius: 8px;
}

#messageicon:hover{
    
    opacity: 1;
    cursor: pointer;
    
    
}

#icon2{
    position:absolute;
    left:6px;
    top:7px;
}

#bellicon{
    position: absolute;
    width: 34px;
    height: 34px;
    left: 1206px;
    top: 23px;

    background: #C4C4C4;
    opacity: 0.8;
    border-radius: 8px;
}

#bellicon:hover{
    opacity:1;
    cursor: pointer;
}


#icon3-1{
    position:absolute;
    left:10px;
    top:10px;
}

#icon3-2{
    position:absolute;
    left:14px;
    top:25px;
}

#notification{
    font-size: 11px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    background-color:red;
    line-height: 15px;
    border-radius:50%;
    text-align: center;
    height: 15px;
    width: 30px;
    position:absolute;
    left:20px;
}


#profile{
    position: absolute;
    width: 132px;
    height: 34px;
    left: 1263px;
    top: 21px;
    
    
    background: #C4C4C4;
    opacity: 0.8;
    border-radius: 8px;
}

#profile:hover{
    opacity: 1;
    cursor: pointer;
}


#profiletext{
    font-weight: bold;
    color:rgb(58, 58, 58);
    position: absolute;
    left:35px;
    top:7px;
}

#profileicon{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 7px;
    top: 5px;
    
    background: gray;
    border-radius: 50%;
    
}


#profileface{
    position: absolute;
    width: 9.04px;
    height: 8.48px;
    left:8px;
    top: 6px;
    
    background: #b3abab;
    border-radius: 13px;
    
}

#profilebody{
    position: relative;
    width: 17.69px;
    height: 15.06px;
    left: 3.5px;
    top: 15px;
    
    background: #b3abab;
    border-radius: 18.5px;

}

/*SIDEBAR*/

#logo{
    position: absolute;
    left:-450px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.MenuList{
    position: absolute;
    top:100px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left:0px;
}

.list{
    width: 170px;
    height: 47.28px;
    left: 20px;
    top: 96px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px #D1D1D1;
    border-bottom: 1px solid gray;
    list-style-type: none;
    font-family: Poppins;
    font-style: normal;
    
}

.list:hover{
    cursor:pointer;
    background-color:gray;
    color:red;

}


.arrow {
    position:relative;
    left:150px;
    top:-15px;
}